<!Doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>

body{
	background:radial-gradient(#fff,#ffd6d6)
}

</style>
</head>

<body>

<h1>Registration succesfull</h1>

<button><a href="login"><b>Go for Login</b></a></button>

</body>
